/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #171d22;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #ffdddc;
    text-shadow: none;
}
::selection {
    background: #ffdddc;
    text-shadow: none;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */




/* ===================
    ALL: CHARCOAL Theme
   =================== */


/.header-container, .footer-container, .main aside {
    background: #171d22;
}


/* ==============
    MOBILE: Menu
   ============== */

/*nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #b20902;
    background: #171d22;
}
nav a:hover, nav a:visited {
    color: white;
}
nav a:hover {
    text-decoration: underline;
}*/

/* ==============
    MOBILE: Main
   ============== */

/*.main {
    padding: 30px 0;
}
.main h1 {
    font-size: 6em;
}
.main aside {
    color: white;
    padding: 0px 5% 10px;
}
.footer-container footer {
    color: white;
    padding: 20px 0;
}*/

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.project-red {
  color: #b20902;
}
.project-black {
  color: #171d22;
}

.w3-opensans {
  font-family: 'Open Sans', sans-serif;
}


#text-top {
  margin: -20% auto 10% auto;
}

#text-top h1{
  color: #171d22;
  font-size: 5em;
  opacity: 0.9;
  line-height: 80%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#text-top p {
  color: #171d22;
  font-size: 2em;
  opacity: 0.7;
  line-height: 20%;
  text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#contact a:hover {
  background-color: #000000;
}

#intro {
    float: left;
    width: 0.7em;
    font-size: 550%;
    line-height: 80%;
    color: #171d22;
}

.twitter-tweet a {
  text-decoration: none;
  font-style: italic;
  color: #b20902;
}

.chart a {
  text-decoration: none;
  font-style: italic;
  color: #b20902;
}

/* Magnituden-Skala mit Tooltips */
#section_scale {
  width: 80%;
  height: 650px;
   margin: auto;
   padding: 10px;
}

div#img_scale {
  width: 15%;
  height: 100%;
  position: relative;
  left: 10%;
  top: 17%;
  float: left;
}

div#mag {
    width: 94%;
    margin-left: 20%;
    margin-right: 20%;
}
/*Tooltip-Skala ENDE*/
div#content-wrapper {
  text-align: left;

}

footer {
  color: #ffffff;
  background-color: #171d22;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: left;
}
address {
  text-align: left;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */
    /*nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }
    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    /*nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}*/
@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
   ==================== */

    /* ============
    WIDE: Menu
   ============ */
    /*.title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
    }
    /* ============
    WIDE: Main
   ============ */
    /*.main article {
        float: left;
        width: 57%;
    }
    .main aside {
        float: right;
        width: 28%;
    }
}*/
@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
div.wrapper {
        width: 60%;
        /* 1140px - 10% for margins */
        margin: 50px 20% 30px 20%;
        text-align: justify;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
